<div class="container">

  <h3>Stock Predictions</h3>
  <p>Each graph is displaying the last 30 days of adjusted closing price
    for each of the stock symbols listed and the historically
    predicted value for that day. Following those 30 quotes, 7 new
    predicted values are shown. These have been predicted by training a
    multilayer perceptron with the most recent 500 adjusted closing
    prices, with a single hidden layer of 40 nodes with a linear
    activation function. Each time point is in the format MM-DD.

    <a href="https://github.com/film42/cs478-stock-prediction">
      Source on Github</a>.</p>

  <hr>

  <% @predictions.each do |stock_symbol, predictions| %>
    <h4><%= stock_symbol %></h4>
    <p>Error (RMSE): <%= @training_accuracies[stock_symbol] %></p>
    <%= line_chart [
        {:name => "Historical", :data => @historical_quotes[stock_symbol] },
        {:name => "Predictions", :data => predictions }
      ], :discrete => true %>
    <hr>
  <% end %>

</div>
