<div class="container">

<h3>Stock Predictions</h3>
<p>Each graph is displaying the last 20 days of adjusted closing price
  for each of the stock symbols listed. Following those 20 quotes, 7
  predicted values are shown. These have been predicted by training a
  multilayer perceptron with the most recent 500 adjusted closing
  prices, with a single hidden layer of 80 nodes with a linear
  activation function.

  <a href="https://github.com/film42/cs478-stock-prediction">
    Source on Github</a>.</p>
<hr>

<% @predictions.each do |stock_symbol, predictions| %>
<h4><%= stock_symbol %></h4>
<%= area_chart [
    {:name => "Historical", :data => @historical_quotes[stock_symbol] },
    {:name => "Predictions", :data => predictions }
  ], :discrete => true %>
<hr>
<% end %>

</div>
